# **Hypothesis Testing**

_John Andrew Dixon_

---

##### **Imports**

In [5]:
import pandas as pd

---

> ##### **_Note On The Data_**
> This project states the following regarding the data to use:
> <pre>
> <b><em>Define a smaller (but logical) period of time to use for your analyses (e.g. last 10 years, 2010-2019/pre-pandemic, etc).</em></b>
> </pre>
> So, I defined my data as the first decade of the 21st century (2001-2010), and I'll only be analyzing movies from this time period.
>
> I retrieved the rest of this data within the `2a-efficient-API.ipynb` file and combined the files at the end of the `2b-EDA.ipynb`. I then reran the `3-SQL.ipynb` to add the new data to the database.

In [7]:
pd.read_csv("Data/final_tmdb_data_2009.csv.gz")[1:]

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
1,tt0116991,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,492619.0,en,Mariette in Ecstasy,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,Mariette in Ecstasy,0.0,0.000,0.0,PG-13
2,tt0143558,0.0,/mUdwA3Szik9bkIMWEeux49I4EgL.jpg,NaN,0.0,"[{'id': 18, 'name': 'Drama'}]",NaN,410363.0,hu,Apaföld,...,0.0,80.0,"[{'english_name': 'Hungarian', 'iso_639_1': 'h...",Released,NaN,Father's Acre,0.0,6.800,5.0,NaN
3,tt0205380,0.0,/dcF1eyBqF2Cb9rGpmsduLjZTNKr.jpg,NaN,0.0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,435199.0,hi,Sanam Teri Kasam,...,0.0,170.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Sanam Teri Kasam,0.0,7.000,2.0,NaN
4,tt0304876,0.0,/kqvRaWpJbyNsNBEwni6IuJo8XqK.jpg,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}]",NaN,231540.0,de,Unter Strom,...,0.0,81.0,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,NaN,Live Wire,0.0,6.000,1.0,NaN
5,tt0327597,0.0,/8GHxjXlI5rqyTBuVNekGTPjG5T6.jpg,NaN,60000000.0,"[{'id': 16, 'name': 'Animation'}, {'id': 10751...",http://coraline.com/,14836.0,en,Coraline,...,124600000.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Enter a world beyond your wildest dreams... an...,Coraline,0.0,7.828,6583.0,PG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2447,tt7786614,0.0,NaN,NaN,0.0,[],NaN,616643.0,en,Ci qing,...,0.0,100.0,[],Released,NaN,Tattoo,0.0,5.000,1.0,NaN
2448,tt8170758,0.0,NaN,NaN,0.0,[],NaN,513464.0,en,The Swell Season: One Step Away,...,0.0,61.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,NaN,The Swell Season: One Step Away,0.0,0.000,0.0,NR
2449,tt9330112,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,111622.0,ta,நினைத்தாலே இனிக்கும்,...,0.0,145.0,"[{'english_name': 'Tamil', 'iso_639_1': 'ta', ...",Released,NaN,Ninaithale Inikkum,0.0,4.000,1.0,NaN
2450,tt9556198,0.0,NaN,"{'id': 866148, 'name': 'Deep Sea Monster Raiga...",0.0,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam...",NaN,488412.0,ja,深海獣雷牙,...,0.0,80.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,NaN,Deep Sea Monster Raiga,0.0,6.333,6.0,NaN
2451,tt9573984,0.0,NaN,"{'id': 691937, 'name': 'Siren: Erotic Ghost', ...",0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",NaN,545661.0,ja,妖女伝説 セイレーンXX ~魔性の欲望~,...,0.0,78.0,"[{'english_name': 'Japanese', 'iso_639_1': 'ja...",Released,NaN,Siren XX: Diabolic Lust,0.0,10.000,2.0,NaN

Does the MPAA rating of a movie (G/PG/PG-13/R) affect how much revenue the movie generates