In [25]:
# Imports 
import pandas as pd
import numpy as np

In [26]:
# Remote URL to the IMDB data
basics_url = "https://datasets.imdbws.com/title.basics.tsv.gz"
# Loading the remote data
basics_df = pd.read_csv(basics_url, sep='\t', low_memory=False)

In [27]:
# Remote URL to the IMDB data
akas_url = "https://datasets.imdbws.com/title.akas.tsv.gz"
# Loading the remote data
akas_df = pd.read_csv(akas_url, sep='\t', low_memory=False)

In [28]:
# Remote URL to the IMDB data
ratings_url = "https://datasets.imdbws.com/title.ratings.tsv.gz"
# Loading the remote data
ratings_df = pd.read_csv(ratings_url, sep='\t', low_memory=False)

In [29]:
basics_df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

In [30]:
ratings_df.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1964
1  tt0000002            5.8       263
2  tt0000003            6.5      1808
3  tt0000004            5.6       178
4  tt0000005            6.2      2606

In [31]:
akas_df.head()

,titleId,ordering,title,region,language,types,attributes,isOriginalTitle
0,tt0000001,1,Карменсіта,UA,\N,imdbDisplay,\N,0
1,tt0000001,2,Carmencita,DE,\N,\N,literal title,0
2,tt0000001,3,Carmencita - spanyol tánc,HU,\N,imdbDisplay,\N,0
3,tt0000001,4,Καρμενσίτα,GR,\N,imdbDisplay,\N,0
4,tt0000001,5,Карменсита,RU,\N,imdbDisplay,\N,0

In [32]:
basics_df.to_csv("Data/title_basics.csv.gz", compression='gzip',index=False)
ratings_df.to_csv("Data/title_ratings.csv.gz", compression='gzip',index=False)
akas_df.to_csv("Data/title_akas.csv.gz", compression='gzip',index=False)

KeyboardInterrupt: